.delete-button {
  background-color: cornflowerblue;
  border-radius: 50%;
  border: none;
}

.todo-item {
  padding-left: 15px;
  padding-bottom: 10px;
}

.trash-icon {
  padding-left: 5px;
  border: none;
  background: none;
}
